.lead__paragraph {
    margin: 0;
    max-width: 23rem;

    font-size: 1.5em;
    line-height: normal;
    color: var(--primary-color-white);

    /* display: -webkit-box; 
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden; 
    text-overflow: ellipsis; */

}