.lead__container {
    margin-top: 6rem;
    margin-left: var(--padding);

    padding: 2rem 0 2rem 0;
    box-sizing: border-box;
    border-radius: 1rem;
    background-color: var(--primary-color-half-black);

    position: relative;
    z-index: 1;
}
@media screen and (max-width: 800px) {
    .lead__container {
        padding-left: 2rem;
    }
  }

@media screen and (max-width: 620px) {
    .lead__container {
        margin-left: 0;
        background-color:transparent;
        padding: 0 0 0 2rem;
        border-radius: 0;
    }
  }